html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;
    width: 100%; 
}

body {
    /* fake gradxwient for dimmer backgr */
    display: flex;
    min-height: 100vh;
<<<<<<< HEAD
    justify-content: centre;
    align-items: centre;
=======
    justify-content: center;
    align-items: center;
>>>>>>> a6e316a2bb098cac6ba542c7d502a842ed1b4bec
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    /* url("../../public/cast_building_wiki.jpg"); */ 

}

.login-wrapper {
    /* background-image: linear-gradient(red, yellow); */

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 400px;
    background: -webkit-linear-gradient(#333, #222);
    background:    -moz-linear-gradient(#333, #222);
    background:         linear-gradient(#333, #222);
    border-radius: 12px;
    flex-direction: column;
    color: #fff;
    padding: 15px 25px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

h1#h1 {
    padding: 20px 0 30px 0;
}

input#input {
    background-color: #333;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 12px;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

input#input:hover {
    transform: scale(1.1);
}

input#input:focus {
    transform: scale(1.2, 1.1);
}

button#button{
    margin: 0 0 18px 0;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s;
    transform: scale(1);
} 

button#button:hover {
    transform: scale(1.1);
}
    /*


h2{
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
} */

/* input{
    border: 2px solid gray;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    color:royalblue;
    transition: width 0.1s ease-in-out;
    resize: none;
    margin-bottom: 10px;
    
}
input:focus{
    width: 300px;
}
button{
    background-color: rgb(224, 232, 255);
    width: 158px;
    height: 40px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    border-radius: 4px;
    margin-top: auto;
} */
