.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-container {
    width: 200px;
    border-radius: 1;
    height: 100vh;
    margin-right: 20px;
    background-color: #2b315200;
    backdrop-filter: blur(10px);
    border: 1px solid #37415a;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.info-header{
    color: #c8e1eb;
    padding: 7px 12px;
    font-size: 17px;
    background-color: #37415a;
    /* border: 2px solid #37415a; */
}

.info-user-list{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 70vh;
}

.info-text-user {
    background: linear-gradient(#0f5519, #0f3223);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 8px;
    font-style: italic;
    border: 2px solid #a5becd;
}

.info-text-other {
    background: linear-gradient(#37415a, #2d355e);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 8px;
}

.announcement-container {
    width: 200px;
    border-radius: 1;
    height: auto;
    margin-right: 20px;
    /* background-color: #2b315277; */
    /* border: 1px solid #37415a; */
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.announcement-header{
    color: #c8e1eb;
    padding: 7px 12px;
    font-size: 17px;
    background-color: #37415a;
    /* border: 2px solid #37415a; */
}

.announcement-content{
    margin: 10px;
    padding-bottom: 10px;
    color: white;
    height: auto;
}