.container {
    display: flex;
    flex-direction: row;
}

.info-container {
    width: 200px;
    border-radius: 12px;
    height: 100vh;
}

.info-header{
    /* slghtly lighter than admin messages for contrast */
    color: magenta;
    font-size: larger;
}
.info-user-list{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.dummypadding{
    padding: 100px;
}
