html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;
    width: 100%; 
}
/* THIS body IS NOT IN USE! REPLACED BY THE ANIMATED BACKGROUND */
body {
    /* fake gradxwient for dimmer backgr */
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("../../public/mac.png");  */
    background: -webkit-linear-gradient(#000005, #191e3c);
    background: -moz-linear-gradient(#000005, #191e3c);
    background: linear-gradient(#000005, #191e3c);
}

/* Start of background */
@keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 400px 0px;
    }
  }
  
  body {  
    overflow: hidden;
    background: repeating-linear-gradient(
    45deg,
    #191e3c,
    #191e3c 5%,
    #141932 5%,
    #141932 10%
  );
    background-size: 400px 400px;
    animation: move-it 15s linear infinite;
  }

/* End of */



.login-wrapper {
    /* background-image: linear-gradient(red, yellow); */

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 400px;
    background-color: #191e3c;
    border: 3px solid #37415a;
    /* background: -webkit-linear-gradient(#37415a, #191e3c);
    background:    -moz-linear-gradient(#37415a, #191e3c);
    background:         linear-gradient(#37415a, #191e3c); */
    border-radius: 12px;
    flex-direction: column;
    color: #fff;
    padding: 15px 55px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

h1#h1 {
    padding: 20px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

input#input {
    background-color: #37415a;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 12px;
    transform: scale(1);
    transition: ease-in-out 0.2s;
    margin-bottom: 15px;

    
}

input#input:hover {
    transform: scale(1.1);
}

input#input:focus {
    transform: scale(1.2, 1.1);
    outline: none;
    border: 3px solid #7891a5;
}

button#button{
    background-color: #55647d;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
    transition: 0.3s ease;
    border: none;
    color: white;
    border-radius: 5px;
    max-height: 70px;
    min-height: 40px
}

button#button:hover {
    transform: scale(1.1);
    background-color: #7891a5;
}

input#inputAdmin{
    background-color: rgba(0, 0, 0, 0);
    color: red;
    border: none;
    cursor: default;
}

p#copyright{
    color:#7891a5;
    font-size: x-small;
    padding: auto;
}

a#github{
    color:#7891a5;
    font-size: x-small;
}