body{
    overflow-y: hidden;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    max-width: 800px;
    /* background: -webkit-linear-gradient(#191e3c, #000005);
    background: -moz-linear-gradient(#191e3c, #000005);
    background: linear-gradient(#191e3c, #000005); */
    background-color: #13172fa6;
    backdrop-filter: blur(10px);
    /* border-radius: 10px; */
    /* overflow: hidden; */
    box-shadow: 20px 20px 50px #1111;
    border: 1px solid #37415a;   
}

.chat-header {
    background: #37415a;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.chat-header-admin {
    background: red;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.message-box {
    
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add spacing between messages */
    scrollbar-width: thin;
}

.message {
    display: flex;
    flex-direction: column; /* Ensure proper stacking for multiline messages */
    margin-bottom: 5px;
}

.user {
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}

.other {
    justify-content: flex-start;
    align-items: flex-start;
}

.admin {
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

.bubble {
    padding: 8px;
    border-radius: 15px;
    /* Prevent words from overlapping */
    word-break: break-word;
    /* text-wrap: wrap; */
    /* white-space: pre-line; */
    /* overflow-wrap: normal; */
    opacity: 1.0;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}


.bubble:hover {
    opacity: 0.7;
}

.user .bubble {
    background: #237d14;
    color: white;
    text-align: left;
    border-bottom-right-radius: 5px;
    /* this fixes alignment issue */
    margin-left: auto; 
}

.other .bubble {
    background: #55647d;
    color: #ddd;
    text-align: left;
    border-bottom-left-radius: 5px;
    margin-right: auto;
}

.admin .bubble {
    background: #d72d2d;
    color: #ddd;
    text-align: left;
    border-bottom-left-radius: 5px;
    margin-right: auto; 
}

.input-box {
    display: flex;
    padding: 10px;
    background-color: #191e3c;
    border-top: 1px solid #37415a;
}

.message-text {
    flex-grow: 1;
    background: #37415a;
    outline: 1px solid #37415a;
    padding: 10px;
    resize: none;
    min-height: 25px;
    max-height: 25px;
    transition: 0.3s;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    word-break: break-word; /* Prevent overflow of input text */
    /* Removing scrowbar on firefox & other non-webkit (God know why they don't use webkit, It's just adding more work for devs) */
    overflow: auto;
    scrollbar-width: none; 
}

.message-text::-webkit-scrollbar {
    /* Removing scrownbar on webkit browsers */
    display: none;
}

.message-text:focus {
    min-height: 80px;
    
}

.message-info {
    color: #3d4758;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px; /* Adjust spacing around the message info */
    text-align: left;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.info-panel {
    color: #7891a5;
    background: #191e3c;
    padding-left: 10px;
    padding-bottom: 4px;
}

.send-button {
    background-color: #55647d;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    color: white;
    border-radius: 5px;
    max-height: 70px;
    min-height: 40px
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
        transform: scale(1);
    }
    50% {
        transform: translateY(-4px);
        transform: scale(1.04);
    }
    100% {
        transform: translateY(0px);
        transform: scale(1);
    }
}

.send-button:hover {
    animation: bounce 1s infinite ease-in-out;
    background-color: #7891a5;
}


.button-extra {
    position: absolute;
    opacity: 0;
    transition: 0.1s ease-in-out;
    font-size: 13px;
    border: 1px solid #fff;
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.bubble:hover > .button-extra {
    translate: 10px;
    /* background-color: #7891a5; */
    opacity: 1.7;
}

.button-extra:hover {
    background-color: #ddd;
    color: black;
    transform: scale(0.9);
    opacity: 1.0;
}

p.watermark#wm1{
    position:absolute;;
    font-size: x-large;
    /* Do not change rgba value! */
    color: rgba(155, 155, 155, 0.008);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Center watermark */
    text-align: center;
    scale: 1.05;
    pointer-events: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;   
}

.reply-preview-container {
    background-color: #191e3c;
    border-top: 1px solid #37415a;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.reply-preview-header {
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
    margin-left: 5px;
    display: inline-block;
}

.reply-preview {
    display: block;
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* border-radius: 5px; */
    background-color: #242e45;
    text-align: left;
    /* width: fit-content; */
    word-break: break-word;
    margin: 0px;
    margin-top: 5px;
}

.reply-remove-button {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    text-align: right;
    align-self: flex-end;
    background-color: #7891a5;
    border: none;
    transition: 0.2s;
}

.reply-remove-button:hover {
    background-color: #fff;
    transform: scale(0.8);
}

.message-reply-user {
    background-color: #105c11;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

.message-reply-admin {
    background-color: #740c14;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

.message-reply-other {
    background-color: #37415a;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-style: italic;
}