body,html {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  font-family: Arial,sans-serif
}

.container {
  flex-direction: column;
  height: 100vh;
  width: 100vw
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */