.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    max-width: 800px;
    background: -webkit-linear-gradient(#333, #222);
    background: -moz-linear-gradient(#333, #222);
    background: linear-gradient(#333, #222);
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 20px 20px 50px #111;
}

.chat-header {
    background: #333;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.message-box {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add spacing between messages */
    scrollbar-width: thin;
}

.message {
    display: flex;
    flex-direction: column; /* Ensure proper stacking for multiline messages */
    margin-bottom: 10px;
}

.user {
    justify-content: flex-end;
    align-items: flex-end;
}

.other {
    justify-content: flex-start;
    align-items: flex-start;
}

.admin {
    justify-content: flex-start;
    align-items: flex-start;
}

.bubble {
    width: fit-content;
    max-width: 75%;
    padding: 8px;
    border-radius: 15px;
    /* Prevent words from overlapping */
    word-break: break-word;
    /* white-space: pre-li */
    opacity: 1.0;
    transition: 0.3s;
    cursor: pointer;
    inline-size: fit-content;
    overflow-wrap: break-word;
}

.bubble:hover {
    opacity: 0.7;
}

.user .bubble {
    background: #077519;
    color: white;
    text-align: right;
    border-bottom-right-radius: 5px;
    /* this fixes alignment issue */
    margin-left: auto; 
}

.other .bubble {
    background: #595959;
    color: #ddd;
    text-align: left;
    border-bottom-left-radius: 5px;
    margin-right: auto; 
}

.admin .bubble {
    background: #980063;
    color: #ddd;
    text-align: left;
    border-bottom-left-radius: 5px;
    margin-right: auto; 
}

.input-box {
    display: flex;
    padding: 10px;
    background-color: #222;
    border-top: 1px solid #333;
}

.message-text {
    flex-grow: 1;
    background: #333;
    padding: 10px;
    resize: none;
    min-height: 40px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    word-break: break-word; /* Prevent overflow of input text */
}

.message-info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px; /* Adjust spacing around the message info */
    text-align: left;
}

button {
    background-color: #444;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
p.watermark#wm1{
    position:absolute;;
    font-size: x-large;
    color: rgba(155, 155, 155, 0.01);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Center watermark */
    text-align: center;
    scale: 1.05;
    pointer-events: none;
    overflow: hidden;
    
}


